<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title align="Center">My Travels</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContent">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ionCards" (click)="planned()">
          <img src="../../assets/img/booked.jpg" height="180" width="180"/>
          <ion-card-header>
            <ion-card-title class="CardTitle">Planned</ion-card-title>
            <ion-card-content class="CardContent">View your planned travels</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ionCards" (click)="newTravel()">
          <img src="../../assets/img/travels.jpg" height="180" width="180"/>
          <ion-card-header>
            <ion-card-title class="CardTitle">New Travel</ion-card-title>
            <ion-card-content class="CardContent">Embark on a new journey</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ionCards" (click)="journal()">
          <img src="../../assets/img/journal.jpg" height="180" width="180"/>
          <ion-card-header>
            <ion-card-title class="CardTitle">Journal</ion-card-title>
            <ion-card-content class="CardContent">Your travels log</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ionCards" (click)="pastTravel()">
          <img src="../../assets/img/pasttravels.jpg" height="180" width="180"/>
          <ion-card-header>
            <ion-card-title class="CardTitle">Past Travels</ion-card-title>
            <ion-card-content class="CardContent">Good old times</ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
