<ion-header>
  <img src="../../assets/img/imagem_login.png" height=100% width=100%/>
</ion-header>
<ion-content class="form-content ion-padding">
  <form class="form" [formGroup]="validationsForm" (ngSubmit)="tryLogin(validationsForm.value)">
    <ion-item>
      <ion-label color="secondary" position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
             *ngIf="validationsForm.get('email').hasError(validation.type) &&
                        (validationsForm.get('email').dirty ||validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="secondary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
     <!-- <button clear slot="end">Forgot</button> -->
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
             *ngIf="validationsForm.get('password').hasError(validation.type) &&
                        (validationsForm.get('password').dirty ||validationsForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button color="secondary" class="submit-btn" expand="block" type="submit"
                [disabled]="!validationsForm.valid">
      Log In
    </ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register" align="Center">
    Forgot your password? <a (click)="goPasswordPage()">Retrieve Password</a>
  </p>
  <p class="go-to-register" align="Center">
    Don't have an account? <a (click)="goRegisterPage()">Register</a>
  </p>
</ion-content>
