.grid{
  border: 2px solid #eee8d5;
  border-radius: 5px;
  margin: 5px;
}

.ion-text-center{
  text-align: center;
  font-weight: bold;
}

.card {
  background-color: #3880ff;
  --ion-text-color: #ffffff;
}
