<ion-grid>
    <ion-row *ngFor="let travel of friendsTravels">
        <ion-col>
            <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                <img src="../../{{travel.picture}}"/>
                <ion-card-header>
                    <ion-card-title class="CardTitle">{{travel.name}} - {{travel.country}}</ion-card-title>
                    <ion-card-content class="CardContent">
                        <b>Category: </b> {{travel.category}} <br>
                        <b>Continent: </b> {{travel.continent}} <br>
                        <b>Best time to visit: </b> {{travel.timeVisit}} <br>
                        <b>Visity by: </b> {{travel.friendName}} <br>
                    </ion-card-content>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>