<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title align="Center">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-input value="Vera Tavares" margin-start="20px" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail"></ion-icon>
      <ion-input value="teste@teste.pt" margin-start="20px" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="heart"></ion-icon>
      <ion-input type="date" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="globe"></ion-icon>
      <ion-input placeholder="Add country" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-icon name="home"></ion-icon>
      <ion-input placeholder="Address Line" margin-start="20px"></ion-input>
      <ion-input placeholder="Zip Code" margin-start="20px"></ion-input>
      <ion-input placeholder="City" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call"></ion-icon>
      <ion-input placeholder="Add phone number" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="medkit"></ion-icon>
      <ion-input placeholder="Add emergency phone number" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"></ion-label>
      <ion-icon name="clipboard"></ion-icon>
      <ion-textarea placeholder="Add allergies"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
