<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title align="Center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-input margin-start="20px" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail"></ion-icon>
      <ion-input value="a21700054@alunos.ulht.pt" margin-start="20px" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="heart"></ion-icon>
      <ion-input type="date" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="globe"></ion-icon>
      <ion-input placeholder="Add country" margin-start="20px"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call"></ion-icon>
      <ion-input placeholder="Add phone number" margin-start="20px"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>
