<ion-header>
  <img src="../../assets/img/imagem_login.png" height=100% width=100%/>
</ion-header>

<ion-content class="form-content ion-padding">
  <form class="form" [formGroup]="validationsForm" (ngSubmit)="resetPassword(validationsForm.value)">
  <ion-item>
    <ion-label color="secondary" position="floating">Email</ion-label>
    <ion-input type="text" formControlName="email"></ion-input>
  </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
             *ngIf="validationsForm.get('email').hasError(validation.type) &&
                        (validationsForm.get('email').dirty ||validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  <ion-button color="secondary" class="submit-btn" expand="block" type="submit"
              [disabled]="!validationsForm.valid">
    Reset
  </ion-button>
  </form>
</ion-content>
