<ion-header>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <img src="../../assets/icon/logo.png">
                </ion-col>
                <ion-col size="9" align-self-stretch padding-top="15px">
                    <ion-item lines="none" text-wrap>The World is waiting for you! Have you thought about your next trip?</ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-header>

<super-tabs>
    <super-tabs-toolbar slot="top">
        <super-tab-button>
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Personal</ion-label>
        </super-tab-button>
        <super-tab-button>
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Following</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-icon name="hand-left-outline"></ion-icon>
            <ion-label>Partners</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
        <super-tab>
           <ion-content>
           <ion-nav [root]="personalPage"></ion-nav>
           </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
            <ion-nav [root]="followingPage"></ion-nav>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
            <ion-nav [root]="partnersDealsPage"></ion-nav>
            </ion-content>
        </super-tab>
    </super-tabs-container>
</super-tabs>

<footer>
    <ion-toolbar>
        <ion-tab-bar class="tab-bottom">
            <ion-tab-button tab="home" routerLink="/home">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="camera" routerLink="/camera">
                <ion-icon name="camera"></ion-icon>
                <ion-label>Camera</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map" routerLink="/map">
                <ion-icon name="map"></ion-icon>
                <ion-label>Map</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="search" routerLink="/search">
                <ion-icon name="search"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="menu">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-toolbar>
</footer>