<ion-header>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <img src="../../assets/icon/logo.png">
                </ion-col>
                <ion-col size="9" align-self-stretch padding-top="15px">
                    <ion-item lines="none" text-wrap>The World is waiting for you! Have you thought about your next trip?</ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-header>

<ion-content class="mainContent">

    <ion-tabs position="absolute">
        <ion-tab-bar slot="top">
            <ion-tab-button (click)="showTab('Personal')">
                <ion-label>Personal</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="showTab('Following')" class="ion-tab-button">
                <ion-label>Following</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="showTab('Partners')">
                <ion-label>Partners</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <div class="tab-content">
        <div class="tab" *ngIf="tabId === 'Personal'">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/newyork.jpg"/>
                        <ion-card-header>
                            <ion-card-title class="CardTitle">New York - USA</ion-card-title>
                            <ion-card-content class="CardContent"><b>Best time to visit:</b> All Year <br> <b>Visited by:</b> Zé António </ion-card-content>
                        </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/london.jpg"/>
                            <ion-card-header>
                                <ion-card-title class="CardTitle">London - England</ion-card-title>
                                <ion-card-content class="CardContent">Best time to visit: All year</ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/newyork.jpg" height="80%" width="80%"/>
                            <ion-card-header>
                                <ion-card-title class="CardTitle">New York</ion-card-title>
                                <ion-card-content class="CardContent">Best time to visit: September - October</ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="tab" *ngIf="tabId === 'Following'">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/newyork.jpg"/>
                            <ion-card-header>
                                <ion-card-title class="CardTitle">New York - USA</ion-card-title>
                                <ion-card-content class="CardContent"><b>Best time to visit:</b> All Year <br> <b>Visited by:</b> Zé António </ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/london.jpg"/>
                            <ion-card-header>
                                <ion-card-title class="CardTitle">London - England</ion-card-title>
                                <ion-card-content class="CardContent">Best time to visit: All year</ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card class="ionCards" (click)="planned()" ion-no-margin>
                            <img src="../../assets/img/newyork.jpg" height="80%" width="80%"/>
                            <ion-card-header>
                                <ion-card-title class="CardTitle">New York</ion-card-title>
                                <ion-card-content class="CardContent">Best time to visit: September - October</ion-card-content>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="tab" *ngIf="tabId === 'Partners'">
            Partners Page Content
        </div>
    </div>

</ion-content>
<footer position="absolute">
    <ion-tabs>
        <ion-tab-bar class="tab-bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="camera" (click)="camera">
                <ion-icon name="camera"></ion-icon>
                <ion-label>Camera</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map" (click)="map()">
                <ion-icon name="map"></ion-icon>
                <ion-label>Map</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="search" (click)="search()">
                <ion-icon name="search"></ion-icon>
                <ion-label>Search</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="menu">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</footer>