<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="form-content ion-padding">
  <form class="form" [formGroup]="validationsForm" (ngSubmit)="tryRegister(validationsForm.value)">
    <ion-item>
      <ion-label position="floating" color="secondary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
             *ngIf="validationsForm.get('email').hasError(validation.type) &&
            (validationsForm.get('dirty') || validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="secondary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
             *ngIf="validationsForm.get('password').hasError(validation.type) &&
                (validationsForm.get('password') || validationsForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button class="submit-btn" expand="block" color="secondary"
                type="submit" [disabled]="!validationsForm.valid">Register
    </ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login"> Already have an account?<a (click)="goLoginPage()">Try to Log In.</a></p>
</ion-content>
